@model IEnumerable<MvcMovie.Models.Movie>


@foreach (var item in Model)
{
    <div class="container-fluid boxshadow-container col-lg-2 margin-top-20 margin-right-15 margin-left-15">
        <div class="row">
            <img class="img-container col-lg-12 nopadding" src=@item.ImageLink alt=@item.Id height="220px" />
            <div class="img-text">
                <a href="@Url.Action("Details", "Movie", new { id = item.Id })">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </div>
        </div>
    </div>
}
