.content-item .col-xs-2 {
    width: 160px !important;
}

.img-text {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-weight: bolder;
    top: 77.8%;
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 50px;
}

    .img-text a {
        text-decoration: none;
        color: #fff;
    }