body {
    background-color: #EFEBE9 !important;
}

.navbar-default {
    background-color: #F44336 !important;
    border: none !important;
}

.nav.navbar-nav li a {
    color: #fff !important;
}

.container {
    width: 75% !important;
}

.table {
    box-shadow: 1px 2px 5px #b1b0b0;
    margin-top: 20px;
}

    .table thead {
        background-color: #795548;
        color: #fff;
    }

.panel-footer {
    bottom: 0;
    background-color: #F44336 !important;
    color: #fff;
    height: 50px;
    width: 100%;
    position: fixed;
}

.editor-field {
    margin-bottom: 15px;
}

.field-validation-error {
    color: #ff0000;
}

@media (min-width: 1280px) {
    .container {
        max-width: 960px;
        margin: auto;
    }
}