@model MvcMovie.Models.ClientUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="text-center">
        <h3>Are you sure you want to delete <b>@Html.DisplayFor(model => model.UserName)</b>?</h3>
        <p>
            <button class="btn btn-danger btn-w100" type="submit" value="Delete">Delete</button>
            <button class="btn btn-success btn-w100" type="button" onclick="location.href='@Url.Action("Index", "AdminUser")'">Back</button>
        </p>
    </div>
}